<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+: deklarasi visibilitas layanan TTS. -->
    <queries>
        <package android:name="id.dana" />
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".QriskuApplication"
        android:label="Qrisku App"
        android:icon="@drawable/qrisku_logo"
        android:theme="@style/Theme.Qrisku"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Qrisku.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".QriskuNotificationListener"
            android:label="Qrisku - Akses Notifikasi"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
